.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

.inline-container {
    background-color: #424B64;
}

img {
    padding-right: 4px;
}

.bar-line-info {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    background-color: lightgray;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-weight: bold;
}

.leaveLine {
    position: absolute;
    top: 35%;
    left: 10%;
    background-color: #DF6F68;
    border: none;
    padding: 0%;
    font-size: 20px;
    width: 140px;
    height: 50px;
    margin-top: 5px;
}

.enterBar {
    position: absolute;
    top: 35%;
    right: 10%;
    background-color: #08A97E;
    border: none;
    padding: 0%;
    font-size: 20px;
    width: 140px;
    height: 50px;
    margin-top: 5px;
}

.whileYouWait {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 43%;
    background-color: lightgray;
    border-radius: 15px;
    padding-top: 0;
    text-align: center;
    font-size: 20px;
    margin-top: 2px;
}

.otherWaitTimes {
    position: absolute;
    bottom: 13%;
    left: 0%;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: 250;
    font-size: 250;
}


/*column styling gotten from w3 schools*/

.column {
    float: left;
    text-align: right;
    width: 25%;
    padding-right: 8px;
    font-weight: bold;
}

.columnExpand {
    float: left;
    margin-top: 8%;
    margin-bottom: 0%;
    text-align: center;
    width: 40%;
    padding-right: 0px;
    font-weight: bold;
    font-size: 22px;
    margin-left: 7%;
}

.rowExpanded {
    align-content: center;
    margin: 10%;
    width: 100%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 0%;
}

p {
    margin-top: 5px;
}


.fade-in-text {
    animation: fadeIn linear 1.2s;
    -webkit-animation: fadeIn linear 1.2s;
    -moz-animation: fadeIn linear 1.2s;
    -o-animation: fadeIn linear 1.2s;
    -ms-animation: fadeIn linear 1.2s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


/*w3 school styling end*/