.title-container {
  position: absolute;
  color:black;
  text-align: center;
  max-width: 360px;
  margin-left: 5%;
  margin-right: 5%;

}
.header{
  justify-content: center;
}
#mon{
  background-color: #87bfe7c7;
}
.calendar-row{
  padding-right: 50px;
  height: 80px; 
  width: 300px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.calendar-row2{
  padding-right: 50px;
  height: 80px; 
  width: 300px;
  margin-left: 30px; 
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.calendar-day{
  border: 5px solid #87bfe7c7;
  width: 100px;
  background-color: white;
  margin-top: 10px; 
  font-size: 30px;
}

.calendar-day:hover{
  background-color:lightgrey;
}
.calendar-day:active{
  display: block;
  background-color:#87bfe7c7 ;
  justify-content:center;
}
.listOfDrinkSpecials{
  display: inline-block;
  background-color: #87bfe7c7 ; 
  border-radius: 5px;
  width: 90%;
  text-align: center; 
  margin-top: 20px; 
  margin-bottom: 80px;
}
.title{
font-size: 50px; 
font-weight: bold;
}


h2{
  font-size: 25px; 
  font-style: italic;
}
p{
  font-size: 20px; 
  font-style:normal;
}
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #87bfe7c7;
  color: white;
}

