body{
    background-color: #424b64;
}
.title-container {
    position: absolute;
    width: 100%;
    margin-left: center;
    justify-content: center;
    text-align: center;
}

.logo{
  width: 350px;
  height: 80px;
  display:block;
margin:auto;
}
.header{
    font-size: 36px; 
    font-weight:bold;
    text-align: center; 
    color: white; 
}

.congrats{
    color: white;
    font-weight: bold;
    font-size: 52px;  
    font-family: lovelo;
}
#submitbutton{
  background-color:#7bafd4;
  border:0px;
}
.navbar {
  background-color: #555;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:8%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  width: 33%;
  text-align: center;
  padding: 5px 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #7bafd4;
  color: white;
}