body{
    background-color: #424b64;
}

.title-container {
    position: absolute;
    color: white;
    width: 100%;
    margin-left: center;
    text-align: center;
}
.header{
    font-weight: bold;
    font-size: 36px; 
}
.navbar {
    background-color: #555;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Style the links inside the navigation bar */

.navbar a {
    float: left;
    width: 33%;
    text-align: center;
    padding: 14px 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}


/* Change the color of links on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.navbar a.active {
    background-color: #7bafd4;
    color: white;
}