.inline-container {
    background-color: #424B64;
}

.title-container {
    position: absolute;
    color: white;
    background-color: #424B64;
    width: 100%;
    margin-left: center;
    text-align: center;
}

.navbar {
    background-color: #555;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Style the links inside the navigation bar */

.navbar a {
    float: left;
    width: 33%;
    text-align: center;
    padding: 14px 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}


/* Change the color of links on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.navbar a.active {
    background-color: #7bafd4;
    color: white;
}

.barform {
    padding:0%;
}

.wait {
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 0%;
}

.formquestions {
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 20px;
}

.coverfee  {
    width:30%;
    text-align: center;
    border-width: 0px;
    border-radius: 10px;
}

.musicType {
    text-align: center;
    border-width: 0px;
    border-radius: 10px;
    height: 35px;
}

#submitbutton {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

